@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins&family=Space+Mono&display=swap'); 


.landingContent1Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: -webkit-linear-gradient(90deg, rgba(22,42,103,1) 0%, rgba(30,134,173,1) 100%);
    height: 65vh;
}


.LandingContent1Story{
    margin-top: 3rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.landingContent1StoryText{
    margin-top: 3rem;
    margin-left: 5rem;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
    
}