.landingContent3Container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 3rem;
}

.landingContent3Story{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5rem;
    margin-bottom: 2rem;
}

.landingContent3Phone{
    max-height: 65vh;
    margin-top:3rem;
}

.landingContent3StoryText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    line-height: 1.5rem;
}

.landingContent3StoryTitle{
    font-size: 2.7rem;
    line-height: 3.5rem;
}

.landingContent3Icons{
    display: flex;
    gap: 12rem;
    justify-content: center;
}

.btndown{
    background: #3639AE;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 20px;
    /*padding-left: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 17px;*/
    font-family: 'Lucida Sans';
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
    font-size: 1rem;
  }

@media only screen and (max-width: 600px) {
    .landingContent3Container{
        padding:3rem;
    }
    
    .landingContent3Story{
        flex-direction: column;
        margin-bottom: 0rem;
    }
    
    .landingContent3Phone {
        max-height: 35vh;
    }

    .landingContent3StoryTitle {
        font-size:2rem;
        font-weight:800;
    }

    .landingContent3Icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width:100%;
        padding: 0 1rem;
        gap:2rem;
    }
    
}
