
.container {
  display: grid;
  margin: auto;
  
}


.container > div:nth-child(1) {
  grid-column: 1 / 2;
  margin-left: 10%;
}

.container > div:nth-child(2) {
  grid-column: 2 / 3;
}

.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 4.5%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: white;
  color: white;

  
}

a{
  text-decoration: none;
  color: #515184;
}

li{
  list-style: none;
  display: inline-flex;
}