@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins&family=Space+Mono&display=swap'); 


.container {
  display:contents;
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
}

.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
 
.nav-list{
  display: flex ;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

nav {
  display: flex ;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: white;
  color: white;
}

a{
  text-decoration: none !important;
  color: #515184 !important;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px){
    .nav-list{
      display: flex;
      flex-direction: column;
    }
  
}
