#casesConterContainer{
    display: flex;
    padding: 10px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 27rem;
    background-color: white;
    height: 10rem;
}

.casesConterNumber{
    display: flex;
    font-size: 35px;
    padding: .3rem .5rem;
    width: min-content;
    color: rgb(6, 6, 185);
    border-top: 1px solid black;
}

.casesConterText{
    padding: .3rem .5rem;
    color: black;
    font-size: 30px; 
}
.covidBlue{
    align-self: flex-end;
    height: 120%;
    margin-left: 3rem;
    margin-bottom: 1rem;
    opacity: .5 ;
}

.themeBlue {
    color: rgb(6, 6, 185);
}

.themeRed {
    color: red;
}

.themeGreen{
    color:green;
}

.themeLightBlue {
    color: rgb(6, 63, 185);
}

.themeOrange{
    color:orange;
}

.themeBurdeos{
    color: rgb(114, 7, 7);
}
  

  

