#casesConterContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 27rem;
    background-color: white;
}

.casesConterNumber{
    display: flex;
    font-size: 25px;
    padding: .3rem .5rem;
    width: min-content;
    color: rgb(6, 6, 185);
}

.casesConterText{
    padding: .3rem .5rem;
    color: black;  
}
.covidBlue{
    margin-left: 210px;  
}
  

  

