/*body{
  background-color: #100D26;
  overflow-y: hidden;
}*/

.container{
  display: flex;
  justify-content: space-between;
}

.landingContent5Container {
  border-radius: 5px;
  margin-left: 2.5rem;
  width: 90vw;
  height: 350px;
  background: linear-gradient(to right, rgb(20, 25, 170) 20%, rgb(63, 220, 252));
}
.landingContent5Text {
  padding-top: 50px;
  padding-left: 80px;
  font-family: 'Lucida Sans';
  

}
.landingContent5Title {
  font-family: 'Lucida Sans';
}
.landingContent5Text p{
  font-size: 15px;
  font-family: 'Lucida Sans';
}
button{
  background: white;
  color: black;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 20px;
  padding-left: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 17px;
  font-family: 'Lucida Sans';
}
.landingContent5Mobile {
  float: right;
  width: 13vw;
  margin-top: -375px;
  margin-right: 15rem;
}