

#container-baner{
    margin-bottom: 100px;
    background-color: aliceblue;
    width: fit-content;
    display: flex;
    justify-content: center;
    z-index: 5;
    gap:2rem;
    position: relative;
    margin-left: 20%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.col-10{
    margin-bottom: 100px;
}


@media only screen and (max-width: 600px){
    #container-baner{
        display: flex;
        flex-direction: column;
        max-height: 25vh;
        width: 70%;
        margin-left: 5rem;
        flex-flow: wrap;
        padding-top: 3rem;
        padding-left: 1rem;
    }

    .logoBanner{
        max-height: 70%;
    }

    .col-10{
      width: 10rem;
      
    } 
}